@charset "utf-8";

*{padding: 0;
margin: 0;
box-sizing: border-box;
}

li{
	list-style: none;
}

h1{
	position: absolute;
	left: -9999px;
}

main>div{
	width: 980px;
	margin: 100px auto 500px;
}



#menu{
	position: fixed;
/* 	//absolute와 동일하다고 보면 된다.. */
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	
}

#menu ol{
	display: flex;
	border-bottom: 1px solid #e9e9e9;
	width: 980px;
	margin: 0 auto;
}

#menu ol li{
	padding: 0.5em 1em;
}



.grid3{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;

}



.grid3 li{
	border: 1px solid #999;
		height: 250px;
}


