@charset "utf-8";


*{padding: 0;
margin: 0;
box-sizing: border-box;
}

li{
	list-style: none;
}

h1{
	position: absolute;
	left: -9999px;
}

.flex{
	display: flex;
}
.right{
	justify-content: flex-end;
}
.column{
	flex-direction: column;
}
.between{
	justify-content: space-between;
}
.center{
	justify-content: center;
}
.around{
	justify-content: space-around;
}

main>div{
	width: 700px;
	margin: 100px auto 0;
}

ul li{
	padding: 1em;
}

/* ///////////////////// */

ul li:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #03c75a;
	transform: scaleX(0);
	transition: transform 0.25s;
}

ul li:hover:after, .select:after{
	color: green;
	background-color: transparent;
/* 	text-decoration:  solid underline green 3.5px; */
	transform: scaleX(1);
}







ol li span img:hover{
	transform: scale(1.1);
	transition: all 0.25s ease-in-out;

}
ol li span:hover{
	text-decoration: underline;
}

ol{
	margin-top: -1px;
	
}

ol li span img{
	padding-right: 10px;
	padding-top: 10px;
	height: 400px;
	width: 200px;
	
}

ol li span img.section_2{
	width: 330px;
}

ol li span p{
	text-align: center;
}

ol li span span.title{
	font-size: 700;
}

ol li{
	height: 400px;
	
}
